.authState {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.email {
    max-width: 100px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    display: inline-block;
    vertical-align: -5px;
    color: white !important;
}