body {
  margin: 0;
  background: #221f1f;
  color: white;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-slide, 
.slick-active {
  outline: none;
  border: none;
}

.slick-prev,
.slick-next {
  z-index: 100;
}